

<div>
    <form action="" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
        <div class="proveedor">
            <h3>Producto</h3>
            <div class="ingresos">
                <div class="cl-a struc">
                    <label class="visually-hidden lb">ID</label>
                    <input type="number" 
                        formControlName="id"
                        id="id_produc_gasto" 
                        name = "id_produc_gasto"
                        class="form-control ip" 
                        placeholder="ID" 
                    />
                    <div class="text-danger"
                        *ngIf="productoForm.get('id')?.hasError('required')
                        && productoForm.get('id')?.touched">
                        <span>Este campo es <strong>Obligatorio</strong> </span>
                    </div>
                </div>
                <div class="cl-b struc">
                    <label class="visually-hidden lb">Nombre</label>
                    <input type="text" 
                            formControlName="nombre"
                            id="nombre_produc_gasto" 
                            name = "nombre_produc_gasto"
                            class="form-control ip" 
                            placeholder="Nombre" 
                        />
                    <div class="text-danger"
                        *ngIf="productoForm.get('nombre')?.hasError('required')
                        && productoForm.get('nombre')?.touched">
                        <span>Este campo es <strong>Obligatorio</strong> </span>
                    </div>
                </div>
                <div class="cl-c struc">
                    <label class="visually-hidden lb">Precio</label>
                    <input type="text" 
                        formControlName="precio"
                        id="precio_produc_gasto" 
                        name = "precio_produc_gasto"
                        class="form-control ip" 
                        placeholder="Precio" 
                    />
                    <div class="text-danger"
                        *ngIf="productoForm.get('precio')?.hasError('required')
                        && productoForm.get('precio')?.touched">
                        <span>Este campo es <strong>Obligatorio</strong> </span>
                    </div>
                </div>  
                <div class="btn-cliente f">
                    <button class="w-100 btn btn-lg btn-primary btn" 
                    type="submit" [disabled]="productoForm.invalid">
                        Registrar
                    </button> 
                </div>
            </div>
        </div>  
    </form>
</div>
 