

<div>
    <form action="">
        <div>
            <div class="id">
                <label class="visually-hidden">ID usuario</label>
                <input type="number" 
                    id="id_factu" 
                    name = "id_factu"
                    class="form-control" 
                    placeholder="Id" 
                />
            </div>
            <div class="fecha">
                <label class="visually-hidden">Fecha</label>
                <p>Aqui va un selector de fecha</p>
            </div>
        </div>   
        <div class="cliente">
            <h3>Cliente</h3>
            <div>
                <button>Buscar</button>
                <input type="text" 
                    id="fac-cliente" 
                    name = "fac-cliente"
                    class="form-control" 
                    placeholder="Cliente" 
                />
            </div>
            <div>
                <label class="visually-hidden">Cedula</label>
                <input type="number" 
                    id="cedula_factu" 
                    name = "cedula_factu"
                    class="form-control" 
                    placeholder="Cedula" 
                />
                <label class="visually-hidden">Nombre</label>
                <input type="text" 
                    id="nombre_factu" 
                    name = "nombre_factu"
                    class="form-control" 
                    placeholder="Nombre" 
                />
                <label class="visually-hidden">Ciudad</label>
                <input type="text" 
                    id="ciudad_factu" 
                    name = "ciudad_factu"
                    class="form-control" 
                    placeholder="Ciudad" 
                />
                <label class="visually-hidden">Dirección</label>
                <input type="text" 
                    id="direcc_factu" 
                    name = "direcc_factu"
                    class="form-control" 
                    placeholder="Dirección" 
                />
                <label class="visually-hidden">Teléfono</label>
                <input type="number" 
                    id="telf_factu" 
                    name = "telf_factu"
                    class="form-control" 
                    placeholder="Teléfono" 
                />
            </div>
        </div>
        <div class="camaron">
            <h3>Camarón</h3>
            <div>
                <button>Buscar</button>
                <input type="text" 
                    id="fac-camaron" 
                    name = "fac-camaron"
                    class="form-control" 
                    placeholder="Camaron" 
                />
            </div>
            <label class="visually-hidden">Talla</label>
            <input type="number" 
                id="talla_factu" 
                name = "talla_factu"
                class="form-control" 
                placeholder="Talla" 
            />
            <label class="visually-hidden">Peso</label>
            <input type="text" 
                id="peso_factu" 
                name = "peso_factu"
                class="form-control" 
                placeholder="Peso" 
            />
        </div>
        <div class="datosFin">
            <label class="visually-hidden">Precio</label>
            <input type="number" 
                id="precio_factu" 
                name = "precio_factu"
                class="form-control" 
                placeholder="Precio" 
            />
            <label class="visually-hidden">IVA</label>
            <input type="number" 
                id="iva_factu" 
                name = "iva_factu"
                class="form-control" 
                placeholder="IVA" 
            />
            <label class="visually-hidden">Total</label>
            <input type="number" 
                id="total_factu" 
                name = "total_factu"
                class="form-control" 
                placeholder="Total" 
            />
            <button class="w-100 btn btn-lg btn-primary" 
            type="submit">
                Registrar
            </button>
        </div>
    </form>
</div>
 