

<div>
    <form action="">
        <div class="proveedor">
            <h3>Proveedor</h3>
            <div class="ingresos">
                <div class="cl-a struc">
                    <label class="visually-hidden lb">RUC</label>
                    <input type="number" 
                        id="ruc_pro_gasto" 
                        name = "ruc_pro_gasto"
                        class="form-control ip" 
                        placeholder="RUC" 
                    />
                </div>
                <div class="cl-b struc">
                    <label class="visually-hidden lb">Nombre</label>
                    <input type="text" 
                            id="nombre_pro_gasto" 
                            name = "nombre_pro_gasto"
                            class="form-control ip" 
                            placeholder="Nombre" 
                        />
                </div>
                <div class="cl-c struc">
                    <label class="visually-hidden lb">Ciudad</label>
                    <input type="text" 
                        id="ciudad_pro_gasto" 
                        name = "ciudad_pro_gasto"
                        class="form-control ip" 
                        placeholder="Ciudad" 
                    />
                </div>  
                <div class="cl-d struc">
                    <label class="visually-hidden lb">Dirección</label>
                    <input type="text" 
                        id="direcc_pro_gasto" 
                        name = "direcc_pro_gasto"
                        class="form-control ip" 
                        placeholder="Dirección" 
                    />
                </div>
                <div class="cl-e struc">
                    <label class="visually-hidden lb">Teléfono</label>
                    <input type="number" 
                        id="telf_pro_gasto" 
                        name = "telf_pro_gasto"
                        class="form-control ip" 
                        placeholder="Teléfono" 
                    />
                </div>  
                <div class="btn-cliente f">
                    <button class="w-100 btn btn-lg btn-primary btn" 
                    type="submit">
                        Registrar
                    </button> 
                </div>
            </div>
        </div>  
    </form>
</div>
 