


<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Laquila S.A</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</header>

<div class="container-fluid lateral">
    <div class="row">
        <nav id="sidebarMenu" class="sidebar collapse">
            <div class="position-sticky">
            <!--Dasboards-->
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Dashboards</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="dashboard">
                            <span data-feather="home"></span> Mostrar Dashboard
                        </a>
                    </li>
                </ul>
            <!--Ventas-->
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Ventas</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="ventas/visualizar">
                            <span data-feather="layers"></span> Visualizar Ventas
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="ventas/facturar">
                            <span data-feather="file-text"></span> Facturar 
                        </a>
                    </li>
                </ul>

            <!--Clientes-->
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Clientes</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="cliente">
                            <span data-feather="layers"></span> Ingreso
                        </a>
                    </li>
                </ul>
            <!--Inventario-->
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Inventario</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="inventario">
                            <span data-feather="layers"></span> Visualizar Inventario
                        </a>
                    </li>
                </ul>
            <!--Gastos-->
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Gastos</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="gastos/producto">
                            <span data-feather="layers"></span> Nuevo Producto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gastos/proveedor">
                            <span data-feather="layers"></span>Nuevo Proveedor
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gastos">
                            <span data-feather="layers"></span> Nuevo
                        </a>
                    </li>
                </ul>
                <!--Consumo-->
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Consumo</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="consumo">
                            <span data-feather="layers"></span> Nuevo Consumo
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <main class="cuerpo">
        <router-outlet></router-outlet>
    </main>
</div>




