<div>
    <h2>Visualizar Inventario</h2>
</div>
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let inventario of listGastos1">
            <th scope="row">{{inventario.producto_id}}</th>
            <td>{{inventario.producto_nombre}}</td>
            <td>{{inventario.total}}</td>
          </tr>  
        </tbody>
      </table>
</div>
